<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
                   

<bean id = "quest" class = "com.spring.demo.Question">               

<property name = "id"  value = "101"/>
<property name = "question" value = "what is Java ? "/>

<property name = "answer">
<map>
<entry key = "Its is Programming Language" value = "Akhilesh Kumar"/>
<entry key = "Its is an Object Oriented Programming Language" value = "Satya"/>
<entry key = "Its is Robust Language" value = "Geek Monk"/>

</map>
</property>

</bean>

</beans>    

  